* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  max-width: calc(100% - 48px);
  margin-right: auto;
}
.header {
  background: #15d80a;
}
.header.fix {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 18px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-weight: 600;
}
.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.header .action {
  margin-left: 49px;
}
